annotated-types @ file:///work/perseverance-python-buildout/croot/annotated-types_1728386958747/work
anyio @ file:///io/perseverance-python-buildout/croot/anyio_1731700736723/work
bcrypt @ file:///croot/bcrypt_1736182451882/work
Bottleneck @ file:///croot/bottleneck_1731058641041/work
Brotli @ file:///croot/brotli-split_1736182456865/work
cffi @ file:///croot/cffi_1736182485317/work
click @ file:///work/perseverance-python-buildout/croot/click_1728387069202/work
contourpy @ file:///croot/contourpy_1732540045555/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
fastapi @ file:///io/buildout/croot/fastapi_1735845387481/work
fonttools @ file:///croot/fonttools_1737039080035/work
greenlet @ file:///croot/greenlet_1733860072744/work
h11 @ file:///work/perseverance-python-buildout/croot/h11_1728386593025/work
idna @ file:///work/perseverance-python-buildout/croot/idna_1728385935861/work
joblib @ file:///work/perseverance-python-buildout/croot/joblib_1728392999985/work
kiwisolver @ file:///croot/kiwisolver_1737039087198/work
matplotlib==3.10.0
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
numexpr @ file:///io/perseverance-python-buildout/croot/numexpr_1731701292781/work
numpy @ file:///croot/numpy_and_numpy_base_1738078506782/work/dist/numpy-2.2.2-cp313-cp313-linux_x86_64.whl#sha256=7931599a0694936575a9e0bac58d750d6e5e8072bde698fbc948ce3073802feb
packaging @ file:///croot/packaging_1734472117206/work
pandas @ file:///croot/pandas_1732735089971/work/dist/pandas-2.2.3-cp313-cp313-linux_x86_64.whl#sha256=248baa16b8f7b48e3a9c0e641fba9a72bce9c95c0dddf7c9a7547016b61fe3fb
pillow @ file:///croot/pillow_1738010226202/work
ply @ file:///work/perseverance-python-buildout/croot/ply_1728388117008/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///croot/pydantic_1734736067156/work
pydantic_core @ file:///croot/pydantic-core_1734726052986/work
pyparsing @ file:///io/buildout/croot/pyparsing_1735862672222/work
PyQt5==5.15.10
PyQt5_sip @ file:///croot/pyqt-split_1736540531116/work/pyqt_sip
python-dateutil @ file:///work/perseverance-python-buildout/croot/python-dateutil_1728385355105/work
pytz @ file:///work/perseverance-python-buildout/croot/pytz_1728386814080/work
scikit-learn @ file:///croot/scikit-learn_1737988764076/work
scipy @ file:///croot/scipy_1737122901252/work/dist/scipy-1.15.1-cp313-cp313-linux_x86_64.whl#sha256=2e16e9dfefd37e2502f12925dd4455f3a2024c3004b56d70de9c499eabf432d6
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
setuptools==72.1.0
sip @ file:///croot/sip_1736541134699/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio @ file:///work/perseverance-python-buildout/croot/sniffio_1728386342155/work
SQLAlchemy @ file:///croot/sqlalchemy_1736565039440/work
starlette @ file:///io/perseverance-python-buildout/croot/starlette-recipe_1731704598518/work
threadpoolctl @ file:///croot/threadpoolctl_1731006087558/work
tornado @ file:///io/buildout/croot/tornado_1735842129908/work
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
uvicorn @ file:///croot/uvicorn-split_1732660726596/work
wheel==0.44.0
xgboost @ file:///io/buildout/croot/xgboost-split_1735864009246/work/python-package
